@import url("reset");

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

body {
  font-family: "Conero", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  > main {
    flex: 1 1 auto;
  }
}
