@import url("vars");
@import url("reset");
@import url("common");

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

body {
  font-family: var(--base-ff);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  > main {
    flex: 1 1 auto;
  }
}
