<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><!-- title --></title>

    <script defer type="module" src="scripts/main.ts"></script>
  </head>

  <body>
    <div class="wrapper">
      <div hx-get="layouts/header.htm" hx-trigger="load" hx-swap="outerHTML"></div>

      <main>
        <!-- content -->
      </main>

      <div hx-get="layouts/footer.htm" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>
  </body>
</html>
